<ul>
    <li><a routerLink="">Home page</a></li>
    <li><a routerLink="/auth/login">login</a></li>
    <li><a routerLink="/site/andb">andb</a></li>
    <li><a routerLink="/site/jira">jira</a></li>
    <li><a routerLink="/site/astp">astp</a></li>
    <li><a routerLink="/site/google-docs">google-docs</a></li>
    <li><a routerLink="/not">Not found</a></li>
</ul>
<article nz-typography>
    <h1 nz-typography>Инструкция</h1>
    <p nz-typography>
        Утилита для работы ПУВ сопровождения
    <nz-tree [nzData]="nodes" nzShowIcon></nz-tree>
    </p>
    <nz-divider></nz-divider>
    <h2 nz-typography>Условия регистрации</h2>
    <span nz-typography nzType="danger">Регистрация только с корпоративной почты. Не реализован!</span>
</article>