<nz-tabset>
    <nz-tab nzTitle="ПУВ-1">
        <nz-tabset>
            <nz-tab nzTitle="Assign">
                <app-table-assign></app-table-assign>
            </nz-tab>
            <nz-tab nzTitle="Reg">Content of Tab Pane 2</nz-tab>
            <nz-tab nzTitle="ПТК НВП">Content of Tab Pane 3</nz-tab>
            <nz-tab nzTitle="Агредатор">Content of Tab Pane 3</nz-tab>
            <nz-tab nzTitle="Агредатор Уведомлений">Content of Tab Pane 3</nz-tab>
            <nz-tab nzTitle="Данные по заявлению и решению">Content of Tab Pane 3</nz-tab>
        </nz-tabset>
    </nz-tab>
    <nz-tab nzTitle="ПУВ-2">
        <nz-tabset>
            <nz-tab nzTitle="Assign">
                <app-table-assign></app-table-assign>
            </nz-tab>
            <nz-tab nzTitle="Reg">Content of Tab Pane 2</nz-tab>
            <nz-tab nzTitle="ПТК НВП">Content of Tab Pane 3</nz-tab>
            <nz-tab nzTitle="Агредатор">Content of Tab Pane 3</nz-tab>
            <nz-tab nzTitle="Агредатор Уведомлений">Content of Tab Pane 3</nz-tab>
            <nz-tab nzTitle="Данные по заявлению и решению">Content of Tab Pane 3</nz-tab>
        </nz-tabset>
    </nz-tab>
</nz-tabset>